/***********/
/* GENERAL */
/***********/
body 
{
 	color:				#EBEBEB;
	margin: 			0px;
	padding: 			0px;
	font-size: 			16pt;
	text-align: 		center;
	background: 		#696969; /* ABABAB */
	font-family: 'Raleway', sans-serif;
}

/* IPHONE PORTRAIT */
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px)
and (orientation : portrait)  {
    body {
	    font-size: 24pt;
    }

    #title h1 {
        font-size: 150pt;
    }
}*/

p{
	
}

h1{
	font-family: 'Poiret One', cursive;
	color: 				black;
	font-size: 			2em;
	display: 			block;
	margin: 			0;
	margin-top:			-20px;
	margin-bottom: 			100px;
	text-align: 		    center;
}

h3{
	color: 				white;
	font-size: 			1em;
	display: 			block;
	margin: 			0;
}

img{
	border:			 	0;
}

ul, li{
	margin: 0;
	list-style-type:	square;
}
table, td, tr{
	text-align: left;
	vertical-align: top;
	font-size: 1em;
}

/***********/
/* SPECIAL */
/***********/
.thumb{
	margin: 2px 0;
}

.caption{
	font-size: .8em;
	color: black;
}
.caption a:link, .caption a:active, .caption a:visited{
	color: #FF4600;
}
.caption a:hover{
	color: #aaa;
}


.smalldot{
	color: #E3BB00;
	font-size: .8em;
	font-weight: bold;
	vertical-align: top;
}

.dot{
	color: #E3BB00;
	font-size: .8em;
	font-weight: bold;
	vertical-align: middle;
}

/*********/
/* LINKS */
/*********/
a:link {color: #000;	font-size: 18pt; text-decoration: none;}
a:active {color: #1B9D77;	font-size: 18pt;  text-decoration: none;}
a:visited {color: #000;	font-size: 18pt;  text-decoration: none;}
a:hover {color: #1B9D77; 	font-size: 18pt; text-decoration: none;}



a.player {
  display: block;
  width: 640px;
  height: 400px;
  border: 0;
  outline: 0;
}


/********/
/* DIVS */
/********/
#content {
    width: 100%;
    min-width: 720px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 35px;
    text-align: center;
    position: absolute;
    top: 550px;
}

#footer
{
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    position: absolute;
    top: 900px;
}

/**************/
/* BACKGROUND */
/**************/
#background {
    background: url("../img/bg.jpg");
    /*background-size: 1920px 600px;*/
    background-size: 100% 600px;
    background-position: center 0;
    display: block;
    width: 100%;
    min-width: 720px;
    height: 600px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    z-index: -100;
}

.ie7 #background,.ie8 #background {
    background-color: #0F0F0F;
    background: url("../img/bg.jpg");
    background-position: center 0;
}

#title {
    display: block;
    position: absolute;
    top: 20%;
    width: 100%;
    min-width: 720px;
    height: 100px;
    margin: -50px 0 0 0;
    text-align: center;
    z-index: -50;
}

#title h1 {
    font-weight: normal;
    font-size: 85pt;
    color: white;
    margin-bottom: 100px;
}

#title h2 {
    font-weight: normal;
    font-size: 50pt;
    color: #aaa;
    margin: 0;
    margin-bottom: 66px;
}

/****************/
/* TRANSPARENCY */
/****************/
#spacer {
	height: 			35px;
}

/* This is the transparent box */
#transbox {
	line-height: 		1.9em;
	text-align: 		center;
	margin: 			0 auto;
	width: 				250px;
	height: 			30px;
	background-color: 	#fff;
	border: 			2px solid black;
	filter:				alpha(opacity=33);
	opacity: 			0.33;
	-moz-opacity:		0.33;
}
	
/* This is the container which set text to solid color.
position: relative used for IE */	
#transbox div {
	font-weight: 		bold;
	color: 				#000;
	filter:				alpha(opacity=100);
	opacity: 			1;
	-moz-opacity:		1;
	position: 			relative;
}

.trans {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	opacity: 			0.90;
	-moz-opacity:		0.90;	
}